body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 235, 227);
}


.navbar .container .navbar-nav li a{
    color: rgb(251, 251, 251);
}


.d-block {
    width: 40px;
}
.carousel-item .card-img-top{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    
}
.carousel-item .card {
    width: 200px;
    
    
    
}
.banner {
    height:  100vh;
    background-image: cover;
    margin: 20px auto;
    
}

.titulo h3 {
    font-size: 40px;
    font-family: 'Parisienne', cursive;

}
.titulo h5 {
    word-spacing:5px;
    font-family: 'Baloo 2', cursive;
}

/* quienes somos */

.quienes .row h1{
    font-family: 'Baloo 2', cursive;
    color: coral;
}
.quienes .row p{
    font-family: 'Parisienne', cursive;
}
.quienes img {
    box-shadow: 0 0 4px 4px rgba(5, 5, 8, 0.424);
}